body {
  background:url(https://www.fest300.com/system/images/W1siZiIsIjIwMTQvMDYvMTUvMjMvNDcvNTQvNDc3L0J1cm5pbmdfTWFuXzIwMTNfU2lkbmV5X0VydGhhbF8yLmpwZyJdXQ/Burning_Man_2013_Sidney_Erthal%20-%202.jpg); no-repeat; background-attachment: fixed;
}

nav.navbar {
  opacity: 0.6;
  position: fixed;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
}

a#link {
  opacity: 0.6;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}


h1#title {
  align: center;
  opacity: 0.6;
  font-style: bold;
  font-style: underline;
  text-align: center;
  background-color: #e0ffff;
  border-radius: 0.25em;
  horizontal-align: center;
  vertical-align: center;
}

article.page_text {
  opacity: 0.6;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 50%;
  height: 50%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
}

h6#vid_text {
  opacity: 0.6;
  font-size: 0.85em;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 50%;
  height: 50%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: black;
}

div.questions {
  opacity: 0.6;
  font-size: 0.85em;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 50%;
  height: 50%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: black;
}

h6#text {
  opacity: 0.6;
  font-size: 0.85em;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 50%;
  height: 50%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: black;
}

label {
  opacity: 0.6;
  font-size: 0.85em;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 50%;
  height: 50%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: black;
}


h2#text {
  opacity: 0.6;
  font-size: 0.85em;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 50%;
  height: 50%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: black;
}

iframe {
  position:
}

div.contact {
  opacity: 0.6;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 50%;
  height: 50%;
  horizontal-align: center;
  vertical-align: center;
}

li#email {
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

li#number {
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

li#facebook {
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

li#twitter {
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

li#instagram {
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}