body {
  background:url(https://www.fest300.com/system/images/W1siZiIsIjIwMTQvMDYvMTUvMjMvNDcvNTQvNDc3L0J1cm5pbmdfTWFuXzIwMTNfU2lkbmV5X0VydGhhbF8yLmpwZyJdXQ/Burning_Man_2013_Sidney_Erthal%20-%202.jpg); no-repeat; background-attachment:fixed;
}

nav ul li a {
  color: black;
  font-style: bold;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    font-weight: bold;
}

div.image {
  background: #444444;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s linear 0s;
  overflow: hidden;
}

span.caption {
    font-size: 16px;
    color: white;
}

h1 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

div p {
  font-size: 10px;
}