body {
  background:url(https://www.fest300.com/system/images/W1siZiIsIjIwMTQvMDYvMTUvMjMvNDcvNTQvNDc3L0J1cm5pbmdfTWFuXzIwMTNfU2lkbmV5X0VydGhhbF8yLmpwZyJdXQ/Burning_Man_2013_Sidney_Erthal%20-%202.jpg); no-repeat; background-attachment: fixed;
  }

main {
  width: 95%;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 1;
}

.link {
  width: 5%;
  vertical-align: top;
  display: inline-block;
  margin: 1px;
  z-index: 2;
}

#home {
  top: 0px;
  position: absolute;
  font-family: papyrus;
  text-align: center;
  opacity: 0.6;
  width: 4em;
  height: 1.5em;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}
#photos {
  top: 50px;
  position: absolute;
  font-family: papyrus;
  text-align: center;
  opacity: 0.6;
  width: 4em;
  height: 1.5em;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}
#resources {
  top: 100px;
  position: absolute;
  font-family: papyrus;
  text-align: center;
  opacity: 0.6;
  width: 4em;
  height: 1.5em;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}
#contacts {
  top: 150px;
  position: absolute;
  font-family: papyrus;
  text-align: center;
  opacity: 0.6;
  width: 4em;
  height: 1.5em;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

h1#title {
  font-family: papyrus;
  margin: 0 auto;
  opacity: 0.6;
  width: 50%;
  height: 50%;
  text-align: center;
}

.family {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

article.page_text {
  font-family: papyrus;
  margin: 0 auto;
  font-size: 1.25em;
  padding: 20px;
  opacity: 0.6;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 75%;
  height: 75%;
  text-align: center;
}

h6#vid_text {
  font-family: papyrus;
  opacity: 0.6;
  font-size: 0.85em;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 45%;
  height: 45%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: black;
}

div.questions {
  font-family: papyrus;
  margin: 0 auto;
  opacity: 0.6;
  font-size: 1.25em;
  padding-top: 5px;
  background-color: #e0ffff;
  border-radius: 0.5em;
  border: 2 solid black;
  width: 50%;
  height: 50%;
  text-align: center;
  color: black;
}

ul {
  left: -25px;
  text-align: center;
  list-style-type: none;
}

h6#text {
  font-family: papyrus;
  opacity: 0.6;
  font-size: 1.25em;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 40%;
  height: 40%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
}

label {
  font-family: papyrus;
  opacity: 0.6;
  font-size: 0.85em;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 50%;
  height: 50%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: black;
}

.videoWrapper {
  position: relative;
  margin-top: 25px;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.videoWrapper iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  position:
}


/* Photos Page CSS */
#photo_table {
  margin-left: 5%;
  width: 80%;
  height: 80%;
}

section#below {
  position: absolute;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    font-weight: bold;
}

div.image {
  background: #444444;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s linear 0s;
  overflow: hidden;
}

span.caption {
  font-family: papyrus;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #e0ffff;
  border-radius: 0.25em;
  color: black;
}

h3 {
  font-family: papyrus;
  margin: 0 auto;
  margin-top: 25px;
  opacity: 0.6;
  width: 45%;
  height: 45%;
  font-style: bold;
  font-style: underline;
  text-align: center;
  background-color: #e0ffff;
  border-radius: 0.25em;
}

h1#alt_title {
  font-family: papyrus;
  margin: 0 auto;
  margin-top: 25px;
  opacity: 0.6;
  width: 75%;
  height: 75%;
  text-align: center;
}

div.links {
  font-family: papyrus;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.6;
  font-size: 1em;
  background-color: #e0ffff;
  border-radius: 0.25em;
  border: 2 solid black;
  width: 15%;
  height: 15%;
  text-align: center;
  color: black;
}


h2#alt_title {
  font-family: papyrus;
  font-size: 2em;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 5px;
  opacity: 0.6;
  width: 65%;
  height: 65%;
  text-align: center;
  /*background-color: #e0ffff;
  border-radius: 0.25em;*/
}


h3#title {
  font-family: papyrus;
  font-size: 2em;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 5px;
  opacity: 0.6;
  width: 45%;
  height: 45%;
  font-style: bold;
  font-style: underline;
  text-align: center;
  background-color: #e0ffff;
  border-radius: 0.25em;
}

#description {
  opacity: 0.8;
  font-family: papyrus;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: #e0ffff;
  border-radius: 0.25em;
}

.burning {
  margin-top: 25px;
  margin-bottom: 25px;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }


h2#text {
  margin-top: 25px;
  padding-top: 25px;
  font-family: papyrus;
  margin: 0 auto;
  text-align: center;
}

.burningorg {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #3a3f40;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

.campcharlie {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

  h1#new_title {
  margin-top: 200px;
  font-family: papyrus;
  margin: 0 auto;
  text-align: center;
}

h1#enter_title {
  font-family: papyrus;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  text-align: center;
}

#enter {
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -180px;
  font-family: papyrus;
  opacity: 0.6;
  width: 25%;
  height: 15%;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 2em;
  position: fixed;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

#enter p {
  text-align: center;
  vertical-align: center;
}

footer#enter {
    font-family: papyrus;
    font-size: 0.85em;
    position: absolute;
    bottom: 0;
  }

.contact {

  display: inline-block;
  font-family: papyrus;
  margin: 0 auto;
  opacity: 0.6;
  border-radius: 0.25em;
  border: 2 solid black;
}

a#email {
  font-family: papyrus;
  opacity: 0.6;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

a#number {
  font-family: papyrus;
  opacity: 0.6;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

a#facebook {
  font-family: papyrus;
  opacity: 0.6;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

a#twitter {
  font-family: papyrus;
  opacity: 0.6;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

a#instagram {
  font-family: papyrus;
  opacity: 0.6;
  color: black;
  font-style: bold;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 0.85em;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

.circular_me {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 175px;
  height: 175px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  background: url(../photos/cohesion.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

  footer {
    margin-top: 25px;
    font-family: papyrus;
    font-size: 0.85em;
  }

  section#contact {
    position: relative;
    top: 300px;
  }

  footer#success {
    margin-top: 25px;
    top: 650px;
    font-family: papyrus;
    font-size: 0.85em;
    position: absolute;
    bottom: 0px;
  }

  h1#enter_title {
  font-family: papyrus;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  text-align: center;
}

#enter_button {
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -180px;
  font-family: papyrus;
  opacity: 0.6;
  width: 25%;
  height: 15%;
  display: inline-block;
  background: #3a3f40;
  color: #fff;
  font-size: 2em;
  position: fixed;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25em;
  vertical-align: center;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}

#enter p {
  text-align: center;
  vertical-align: center;
}

footer#enter {
    font-family: papyrus;
    font-size: 0.85em;
    position: absolute;
    bottom: 0;
  }

  @media screen and (max-width: 1000px) {
  body {
    font-size: 90%;
  }
}

@media screen and (max-width: 750px) {
  body {
    font-size: 80%;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 70%;
  }
}

@media screen and (max-width: 500px) {
  .link#home {
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 0px;
    margin: auto 0;
    z-index: 2;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media screen and (max-width: 500px) {
  .link#photos {
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 0px;
    margin: auto 0;
    z-index: 2;
    margin-left: 25%;
    margin-right: 25%;
    left: 60px;
  }
}

@media screen and (max-width: 500px) {
  .link#resources {
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 0px;
    margin: auto 0;
    z-index: 2;
    margin-left: 25%;
    margin-right: 25%;
    left: 120px;
  }
}

@media screen and (max-width: 500px) {
  .link#contacts {
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 0px;
    margin: auto 0;
    z-index: 2;
    margin-left: 25%;
    margin-right: 25%;
    left: 180px;
  }
}

@media screen and (max-width: 500px) {
  main {
    position: relative;
    top: 50px;
    width: 100%;
    z-index: 1;
    padding: 0;
    margin-left: 0px;
  }
}